header {
  img {
    width: 70px;
    height: 70px;
  }

  nav {
    padding: 5px 0;
    background-color: #f9a97a;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  ul {
    display: flex;

    li {
      margin-left: 200px;
    }
  }
}
