main {
  .battleContainer {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .pokemonContainer {
    border: 3px solid #4d210a;
    background-color: #4d210a;
    text-align: center;

    img {
      height: 200px;
      width: 200px;
      margin: 50px auto;
    }

    .pokemonSelection {
      margin-bottom: 200px;
    }
  }
}
